/*O dois pontos dois ppontos indica que quero usar um pseudo elemento*/

/*Definir a primeira linha do paragrafo*/
body{
	font-family: 'sans-serif';
}
p::first-line{
	color: red;
}
/*primeira letra*/
h1::first-letter{
	color: red;
	font-size: 199px;
}
li{
	list-style: none;
	margin-left: 1200px;
	list-style-image: url(../img/imagem.jpg);
}
/*antes de cada item ele coloca a  letra a  */
li::before{
	content: "A";
	color: blue;
	font-size: 110px;
}

/*Befonre colocar conteudo antes do elemento*/
/*After colocar conteudo depoiss do elemento*/